/* src/index.css */


/* 1. 기본 브라우저 스타일 초기화 */

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    /* padding/border를 크기 계산에 포함 */
}


/* 2. body 태그에 배경 이미지 적용 */

body {
    /* 'src' 폴더에서 나와 'docs/reference'로 경로 수정 */
    background-image: url('../docs/reference/basic_BG.png');
    /* 이미지가 화면을 꽉 채우도록 설정 (비율 유지) */
    background-size: cover;
    /* 이미지가 항상 중앙에 오도록 설정 */
    background-position: center;
    /* 스크롤 시 이미지가 고정되도록 설정 */
    background-attachment: fixed;
    /* 이미지가 반복되지 않도록 설정 */
    background-repeat: no-repeat;
    /* 최소 높이를 화면 전체 높이로 설정 */
    min-height: 100vh;
}


/* 3. box-sizing 일관성 유지 */

*,
*:before,
*:after {
    box-sizing: inherit;
}